*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
}

body{
    background-image: url(/images/backgroundImg.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.disabled-link {
    pointer-events: none;
    color: gray;}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.form_container > h1{
    margin-bottom: 15px;
    cursor:default;
    font-style: normal;
    opacity:0.7;
}

.form_container{
    background-color: #7f8a91;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    max-width: 300px;
    width: 100%;
}

input{
    background: rgba(225 , 225 , 225 ,1.1);
    height: 40px;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    border: none;
    outline: none;
}
input:hover{
    background-color: #c4c3c3;
}

label{
    padding: 5px;
}

button{
    background: rgba(225 , 225 , 225 ,1.1);
    height: 40px;
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
}

.button_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px;
}

button:hover{
    cursor: pointer;
    background-color: #c4c3c3;
}

.popup-message{
 position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 15px ;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.popup-message.show{
    opacity: 1;
}
.popup-message.hidden{
    display: none;
}

@media only screen and (max-width: 767px)
{
    .form_container > h1{
    font-size: 30px;
    text-align: center;
    }
    
    form{
        flex-wrap: wrap;
    }

    label{
        font-size: 14px;
    }
}