#favorites-container {
    display: flex;
    font-size: 20px;
    padding-top: 10px; 
    text-align: center;
    justify-content: center;
    align-items: center; 
    gap: 10px;}

  .Card{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    flex-direction: column;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);}

  .Card img{
    width: 100%;
    height: auto;
    border-radius: 4px;}

  .hamburger{
    background: none;
    border: none;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;}

  @media only screen and (max-width: 767px){
  }
  
  
   


  