/* ניתן להשתמש לנוחותכם - לא חובה*/

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
  margin: 0;
  position: relative;
  padding-bottom: 76px;
  padding-top: 76px;
}

html {
  scroll-behavior: smooth;
}

.dark-mode-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 15px;
    padding: 5px;
    color: #495057;
    line-height: 1;
}

.dark-mode-button:focus {
    outline: none;
    box-shadow: none;
}


body.dark-mode .dark-mode-button {
    color: var(--text-color); 
}

body.dark-mode .navbar-light .navbar-brand,
body.dark-mode .navbar-light .navbar-nav .nav-link,
body.dark-mode .navbar-light .navbar-text {
    color: var(--text-color) !important;
}

body.dark-mode .navbar-light .navbar-nav .nav-link:hover {
    color: #fff !important;
}

body.dark-mode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}