.total-info{
color: #e8ecec;
font-size: 20px;
text-align: center;
margin-bottom: 20px;
margin-top: 20px;}

form{
 border-radius: 10px;
 color: #e8ecec;
 display: flex;
 flex-direction: column;
 justify-content: center;
 flex-wrap: wrap; 
 align-items: center;
 padding: 40px;
 box-shadow: 0px 0px 10px rgba(79, 86, 98, 0.5);
 max-width: 300px;
 width: 100%;
 z-index: 2;
 /* background: rgba(117, 129, 139, 0.9); */
 background-color: #7a878f;
 opacity: 0.9;
}

form h4{
 margin-bottom: 10px;
}

label{
 margin-bottom: 5px;
}

input{
    background: rgba(225 , 225 , 225 ,1.1);
    height: 30px;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    outline: none;
}
select{
    background: rgba(225 , 225 , 225 ,1.1);
    height: 30px;
    width: 100%;
    max-width: 70px;
    border-radius: 10px;
    border: none;
}
button{
    background: rgba(225 , 225 , 225 ,1.1);
    height: 30px;
    width: 100%;
    max-width: 60px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

#filterBtn:hover{
    background-color: #ededed;
}

.filters{
    padding: 30px;
    color: black;
    background-image: url(/images/backgroundSection.png);
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.filters::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(225 , 225 , 225 ,0.5);
    z-index: 1;
}

.listings {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 100%; 
    overflow: hidden;
    padding: 15px;
}

.Card-listings{
    border-radius: 5px;
    border: 1px solid #9facb3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 15px;
    width:350px;
    margin-bottom: 20px;
    margin: 10px 10px;
    box-shadow: 0 2px 8px rgba(139, 158, 174, 0.8);
    background-color: #ededed;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.card_link{
    color: black;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_link:hover{
    color: #333;
    text-decoration: underline;
}

.listings img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.listings h3{
    font-size: 16px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
}

.listings p{
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.listings img:hover{
    transform: scale(1.02);
}

.favoriteBtn ,
.rentBtn{
    background: rgba(225 , 225 , 225 ,1.1);
    height: 40px;
    width: 100%;
    max-width: 140px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.favoriteBtn:hover,
.rentBtn:hover{
    background-color: #c2c0c0;
}

@media only screen and (max-width: 767px)
{
    .listings{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .Card-listings{
        width: 90%;
        height: auto;
        margin: 10px;
        padding: 10px;
    }

    .listings img{
        width: 100%;
        height: auto;
    }

   form {
        width: 100%;
        height: auto;
        padding: 20px;
        margin-top: 10px;
    }
}