* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    /* position: fixed;
    top: 0; */
    background-color: #333;
    color: white;
    /* padding: 15px; */
    /* height: 100%; */
    width: 100%;
    /* z-index: 2px; */
   box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

}

nav{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100px;
}

.logo{
width: auto;    
margin-left: 20px;
}

.navLinks{
    list-style-type: none;
    padding: 0;
    margin-left: 40px;
}

.navLinks li {
    display: inline;
    margin: 0 10px;
}

.navLinks li a {
    color: white;
    text-decoration: none;
}

.navLinks a:hover{
    font-weight: bolder;
    background-color: #c4c3c3;
    opacity:0.7;
    color: #333;
    border-radius: 10px;
    padding: 5px;
}

.hamburger{
    background: none;
    border: none;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.hamburger:hover , 
.hamburger:active{
    background-color: #ccc;
    border-radius: 6px;
}

#filters {
    margin: 20px;
    padding: 10px;
    color: black;
    background-color: #c4c3c3;
    border-radius: 5px;
}

#listings {
    display: flex;
    flex-wrap: wrap;
}

.listing {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 30%;
}

.listing img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 767px){
    .hamburger{
        display: block;
    }
}