/* css/home.css */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #dae9ef, #c1d4e4);
  color: #000000;
  line-height: 1.6;
  padding-top: 56px;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.512) !important;
  backdrop-filter: blur(8px);
}

.nav-link:hover {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.522);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.nav-link {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;

}

.nav-item {
  border-radius: 10px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.jumbotron-fluid {
  background-image: url(../images/a.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 40vh;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 2rem 0;
}

.glass-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding-top: 5px;
}

.glass-box:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}

.glass-box-content {
  text-align: center;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 1rem;
}

.text-label {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0.3px rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.text-value {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
  text-shadow: 0 1px 0.3px rgba(0, 0, 0, 0.5);
}

.glass-panel h1 {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.glass-panel p {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

.card-body p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: black;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, .03);
  border-top: 1px solid rgba(0, 0, 0, .125);
}



@media (max-width: 768px) {
  .form-row .form-group {
    margin-bottom: 1rem;
  }

  .form-row .btn-block {
    margin-top: 10px;
  }
}

footer {
  background-color: #e9ecef;
  color: #6c757d;
  font-size: 0.9em;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

footer p {
  margin: 0;
}

.btn-sm {
  font-size: 11px;
}

.apartments-info-stats {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.stat-box {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.stat-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}