* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ebebeb;
    padding-top: 100px;
}

header{
    position: fixed;
    top: 0;
    background-color: #525a60;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo{
width: auto;    
margin-left: 20px;
}

.navLinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
    transition: all 0.3s ease;
}

.navLinks li {
    display: inline-block;
    margin: 0 10px;
}

.navLinks li a {
    position: relative;
    color: #c4c3c3;
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease;

}

.navLinks li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #c4c3c3;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.navLinks li a:hover::after {
    transform: scaleX(1);
}

#signOutBtn{
    margin-left: 40px;
    height: 100%;
    width: 100%;
    max-width: 80px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

#signOutBtn:hover{
    background-color: #c4c3c3;
}

.hamburger{
    background: none;
    border: none;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 16px;
    cursor: pointer;
    display: none;
}

#usernameDisplay{
    cursor: default;
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    border-radius: 4px;
    opacity: 0.5;
    margin-right: 40px;
    font-size: 25px;   
    font-weight: bold;
}

footer{
    background-color: #525a60;
    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.disabled-link {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
    color: #aaa;
}

@media only screen and (max-width: 767px){
    .hamburger{
        display: block;
    }

    .navLinks{
        display: none;
        flex-direction: column;
        background-color: #525a60;
        position: absolute;
        top: 100px;
        left: 0;
        padding: 20px 0;
        z-index: 2;
     }

    #usernameDisplay{
        margin-left: 40px;
    }

    #signOutBtn{
     margin-right: 40px;
     margin-top: 10px;
    }

    .navLinks.show{
    display: flex; 
    }

    .navLinks li{
        margin: 15px ;
    }
}