h1,h3{
    color: #3a3a3a;
    margin-bottom: 5px;
    font-family: 'Nunito', sans-serif;
}

#map{
  height: 300px; 
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  z-index:0;
  border-radius: 10px;
}

.listing-details{
    padding: 30px;
    color: black;
    background-color: #f7f7f7;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
}

#listing_info{
    color: #3a3a3a;
}

img{
    width: 100%;
    max-width: 500px; 
    height: auto ;    
    object-fit: cover; 
    align-items: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.label-bold {
    font-weight: bold;
    color: #333;}

#booking_form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

form {
 border-radius: 10px;
 color: #333;
 display: flex;
 flex-direction: column;
 justify-content: center;
 flex-wrap: wrap; 
 align-items: center;
 padding: 40px;
 box-shadow: 0px 0px 10px rgba(79, 86, 98, 0.5);
 max-width: 300px;
 width: 100%;
 height: auto;
 gap:10px;
 opacity: 0.9;
 margin-bottom: 40px;
 margin-top: 40px;
}

label{
margin-top: 5px;
font-size: 15px;
}

input{
    background: rgba(225 , 225 , 225 ,1.1);
    height: 30px;
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    outline: none;
}

input:focus{
    border: 2px solid #333;
}

#start_date, #end_date{
    text-align: end;
}

.ConfirmBtn{
    background: rgba(225 , 225 , 225 ,1.1);
    height: 30px;
    width: 100%;
    max-width: 130px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.ConfirmBtn:hover{
    background-color: #c4c3c3;
}

body, p, label {
  line-height: 1.6;
}

.error-message{
    display: none;
}

@media (max-width: 768px) {
    h1{
        font-size: 25px;
    }

    .listing-details {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    img{
        max-width: 90%;
        margin-bottom: 10px;
    }

    #listing_info{
        text-align: center;
        flex: auto; 
        font-size: 15px;
    }

    form {
    max-width: 70%;
    }

   input {
    max-width: 60%; 
    }

  .ConfirmBtn {
    max-width: 40%;
    }
    h3{
        font-size: 25px;
    }
}